<div style="height: 500px; width: 1000px; margin: auto">
  <img
    [src]="currentImage"
    style="height: 400px; width: 1000px"
    class="rounded"
    alt="..."
  />
  <button (click)="next()" type="button" class="btn btn-secondary">Next</button
  >|
  <button (click)="play()" type="button" class="btn btn-success">Play</button>|
  <button (click)="stop()" type="button" class="btn btn-success">stop</button>|
  <button (click)="pervious()" type="button" class="btn btn-secondary">
    Pervious
  </button>
</div>
